/*Navbar*/
.navbar {

  &.navbar-transparent {
      opacity: 0.98;
  }

  @media (max-width: 992px) {
      &.navbar-transparent {
          background-color: rgba($black, 0.4);
      }
  }

  .navbar-brand {
      font-size: 1.5rem;
      font-weight: 900;
      color: $primary;
      text-transform: uppercase;
  }

  .navbar-nav .nav-item {
      margin: 0 .7rem;

      .nav-link {
          font-weight: 600;
      }
  }
}

.section-angle {
  position: relative;
  border-color: inherit;
  background: $black;

  &:before, &:after {
      width: 0;
      height: 0;
      position: absolute;
      content: "";
      left: 0;
      border: 0 solid transparent;
      z-index: 3;
  }

  &.top-left:before,
  &.top-right:before {
      top: 0;
      border-left-width: 100vw;
  }

  &.bottom-left:after,
  &.bottom-right:after {
      bottom: 0;
      border-right-width: 100vw;
  }

  &.bottom-left:after {
      border-right-color: inherit;
  }

  &.bottom-right:after {
      border-bottom-color: inherit;
  }

  &.top-left:before {
      border-top-color: inherit;
  }

  &.top-right:before {
      border-left-color: inherit;
  }

  @include media-breakpoint-up('lg') {
      &.bottom-right:after,
      &.top-right:before {
          border-bottom-width: 2rem;
      }
      &.bottom-left:after,
      &.top-left:before {
          border-top-width: 2rem;
      }
  }

  @include media-breakpoint-down('sm') {
      &.bottom-right:after,
      &.top-right:before {
          border-bottom-width: 1rem;
      }
      &.bottom-left:after,
      &.top-left:before {
          border-top-width: 1rem;
      }
  }
}
