// navbar.component.scss

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


$white: #ffffff;
$gray-100: #ECEFF1;
$gray-200: #CFD8DC;
$gray-300: #B0BEC5;
$gray-400: #90A4AE;
$gray-500: #78909C;
$gray-600: #607D8B;
$gray-700: #546E7A;
$gray-800: #455A64;
$gray-900: #263238;
$black: #000000;
$blue: #2979ff;
$indigo: #3d5afe;
$purple: #d500f9;
$pink: #f50057;
$red: #ff1744;
$orange: #ff9100;
$yellow: #ffea00;
$green: #00e676;
$teal: #1de9b6;
$cyan: #00e5ff;

$primary: $teal;
$secondary: $white;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: darken($gray-900, 10%);
/*Navbar*/

.navbar {

    &.navbar-transparent {
        opacity: 0.98;
    }

    @media (max-width: 992px) {
        &.navbar-transparent {
            background-color: rgba($black, 0.4);
        }
    }

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: 900;
        color: $primary;
        text-transform: uppercase;
    }

    .navbar-nav .nav-item {
        margin: 0 .7rem;

        .nav-link {
            font-weight: 600;
        }
    }
}

.section-angle {
    position: relative;
    border-color: inherit;
    background: $black;

    &:before,
    &:after {
        width: 0;
        height: 0;
        position: absolute;
        content: "";
        left: 0;
        border: 0 solid transparent;
        z-index: 3;
    }

    &.top-left:before,
    &.top-right:before {
        top: 0;
        border-left-width: 100vw;
    }

    &.bottom-left:after,
    &.bottom-right:after {
        bottom: 0;
        border-right-width: 100vw;
    }

    &.bottom-left:after {
        border-right-color: inherit;
    }

    &.bottom-right:after {
        border-bottom-color: inherit;
    }

    &.top-left:before {
        border-top-color: inherit;
    }

    &.top-right:before {
        border-left-color: inherit;
    }

    @include media-breakpoint-up('lg') {

        &.bottom-right:after,
        &.top-right:before {
            border-bottom-width: 2rem;
        }

        &.bottom-left:after,
        &.top-left:before {
            border-top-width: 2rem;
        }
    }

    @include media-breakpoint-down('sm') {

        &.bottom-right:after,
        &.top-right:before {
            border-bottom-width: 1rem;
        }

        &.bottom-left:after,
        &.top-left:before {
            border-top-width: 1rem;
        }
    }
}
