/* footer.component.scss file */
footer {
  ul > li {
      padding: 0.5rem 0;
  }

  a {
      color: rgba($white,.7);
      text-decoration: none;
      font-weight: 500;
      transition: all 0.25s ease-out;

      &:hover {
          color: rgba($white,.9);
          text-decoration: underline;
      }
  }

  h5 {
      font-size: 1rem;
      text-transform: uppercase;
  }
}
